html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Menlo', 'Bitstream Vera Sans Mono', 'Monaco', 'Consolas', monospace;
}

.txt {
  font-family: 'Menlo', 'Bitstream Vera Sans Mono', 'Monaco', 'Consolas', monospace;
}

* {
  box-sizing: border-box;
}
